.investor-dashboard {
    
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.section-title {
    text-align:center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.section-subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.applications-list {
    overflow-y: auto;
    max-height: calc(100vh - 100px); /* Adjust as needed */
}

.application-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.loan-details {
    font-size: 16px;
    margin-bottom: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.view-button,
.bid-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.view-button {
    background-color: #007bff;
    color: #fff;
}

.bid-button {
    background-color: #28a745;
    color: #fff;
}

.no-applications {
    color: #666;
    font-size: 16px;
    font-style: italic;
}

.chatbot {
    margin-top: 100px;
    padding: 20px;
    overflow-y: auto;
}
.chatbot h1{
    text-align:center;
    justify-content: center;
    font-size: 24px;
    
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
